body{
	background:url(bg2.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.h4{
	color:#e73f8c ;
}
.hr1{
	color: black;
	width: 14%;
	margin: 1px;
}
.hr2{
	color: black;
	width: 84%;
	margin: 1px;
}
b{
	color:  black;
}
.h1{
	color: black;
}
.h2{
	color: purple;
}
.main{
	color: white;
}
#b1{
	transition: 0.4s;
}
#b1:hover {
	transform: translateY(-5px);
}
#b2{
	transition: 0.4s;
}
#b2:hover {
	transform: translateY(-5px);
}
#b3{
	transition: 0.4s;
}
#b3:hover {
	transform: translateY(-5px);
}
#b4{
	transition: 0.4s;
}
#b4:hover {
	transform: translateY(-5px);
}
#b5{
	transition: 0.4s;
}
#b5:hover {
	transform: translateY(-5px);
}
#b6{
	transition: 0.4s;
}
#b6:hover {
	transform: translateY(-5px);
}
#b7{
	transition: 0.4s;
}
#b7:hover {
	transform: translateY(-5px);
}
#b8{
	transition: 0.4s;
}
#b8:hover {
	transform: translateY(-5px);
}
#b9{
	transition: 0.4s;
}
#b9:hover {
	transform: translateY(-5px);
}
#b10{
	transition: 0.4s;
}
#b10:hover {
	transform: translateY(-5px);
}
#b11{
	transition: 0.4s;
}
#b11:hover {
	transform: translateY(-5px);
}
#b12{
	transition: 0.4s;
}
#b12:hover {
	transform: translateY(-5px);
}
#b13{
	transition: 0.4s;
}
#b13:hover {
	transform: translateY(-5px);
}
#b14{
	transition: 0.4s;
}
#b14:hover {
	transform: translateY(-5px);
}
#b15{
	transition: 0.4s;
}
#b15:hover {
	transform: translateY(-5px);
}
#b16{
	transition: 0.4s;
}
#b16:hover {
	transform: translateY(-5px);
}
#b17{
	transition: 0.4s;
}
#b17:hover {
	transform: translateY(-5px);
}
#b18{
	transition: 0.4s;
}
#b18:hover {
	transform: translateY(-5px);
}
#b19{
	transition: 0.4s;
}
#b19:hover {
	transform: translateY(-5px);
}
